<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaelrunningTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Raelrunning_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RaelrunningTools.Properties.Settings>
            <setting name="listenerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resetKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="finishKey" serializeAs="String">
                <value>None</value>
            </setting>
        </RaelrunningTools.Properties.Settings>
        <Raelrunning_Tools.Properties.Settings>
            <setting name="listenerEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resetKeyID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="finishKeyID" serializeAs="String">
                <value>0</value>
            </setting>
        </Raelrunning_Tools.Properties.Settings>
    </userSettings>
</configuration>